<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="<%= websiteDescription %>" />
        <meta name="keywords" content="<%= websiteKeywords %>" />
        <title><%= websiteTitle %></title>
        <link rel="stylesheet" href="<%= cdnUrl %>/plugin/layui/css/layui.min.css?v=<%= version %>" />
        <link rel="stylesheet" href="<%= cdnUrl %>/plugin/notice/colored-theme.min.css?v=<%= version %>" />
        <link rel="stylesheet" href="<%= cdnUrl %>/css/console/index.min.css?v=<%= version %>" />
        <%_ cssList.forEach(item => { _%>
        <link rel="stylesheet" href="<%= cdnUrl %>/<%= item %>.min.css?v=<%= version %>" />
        <%_ }) _%>
    </head>
    <body>
        <div class="layui-layout layui-layout-admin">
            <div class="layui-header header">
                <a class="logo" href="/"> Tnloy </a>
                <ul class="layui-nav header-nav">
                    <li class="layui-nav-item">
                        <a href="javascript:;"><img src="<%= user.avatar %>" class="layui-nav-img" /><%= user.nickName %> </a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">修改信息</a></dd>
                            <dd><a href="javascript:;">安全管理</a></dd>
                            <dd><a class="out" href="javascript:;">退出</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="layui-side layui-bg-black">
                <div class="layui-side-scroll">
                    <ul class="layui-nav layui-nav-tree">
                        <% menu.forEach(item => { %>
                        <li class="layui-nav-item<%= menuActive(item,current) %>">
                            <a href="<%= getPath(item) %>"><%= item.menuName %></a>
                            <% if (item.children) { %>
                            <dl class="layui-nav-child">
                                <% item.children.forEach(children => { %>
                                <dd class="<%= menuActive(children,current,item) %>">
                                    <a href="/console<%= item.path + children.path %>"><%= children.menuName %> </a>
                                </dd>
                                <% }) %>
                            </dl>
                            <% } %>
                        </li>
                        <% }) %>
                    </ul>
                </div>
            </div>

            <div class="layui-body"><%- getBreadcrumb(menu,current) %> <%- include(`../pages/${page}`) _%></div>
        </div>
        <script>
            const accountUrl = "<%= accountUrl %>";
        </script>
        <script src="<%= cdnUrl %>/plugin/layui/layui.min.js?v=<%= version %>"></script>
        <script src="<%= cdnUrl %>/plugin/qs/qs.min.js?v=<%= version %>"></script>
        <script src="<%= cdnUrl %>/plugin/axios/axios.min.js?v=<%= version %>"></script>
        <script src="<%= cdnUrl %>/plugin/notice/notice.min.js?v=<%= version %>"></script>
        <script src="<%= cdnUrl %>/js/ruoyu/tools.min.js?v=<%= version %>"></script>
        <script src="<%= cdnUrl %>/js/ruoyu/dom.min.js?v=<%= version %>"></script>
        <script src="<%= cdnUrl %>/js/console/index.min.js?v=<%= version %>"></script>
        <%_ jsList.forEach(item => { _%>
        <script src="<%= cdnUrl %>/<%= item %>.min.js?v=<%= version %>"></script>
        <%_ }) _%>
    </body>
</html>
