<div class="layui-tab layui-tab-brief" lay-filter="statusTab">
    <ul class="layui-tab-title">
        <li class="layui-this">全部(<%= count[0]+ count[1]+count[2] %>)</li>
        <li status="2">已发布(<%= count[2]%>)</li>
        <li status="1">审核中(<%= count[1] %>)</li>
        <li status="0">草稿(<%= count[0]%>)</li>
        <li status="3">回收站(<%= count[3] %>)</li>
    </ul>
</div>

<table id="article" lay-filter="article"></table>
